<div class="panel panel-default" ng-controller="detailCtrl as ctrl1">
    <div class="panel-heading">{{ctrl1.bookinfo.id}}&nbsp;{{ ctrl1.bookinfo.title }}</div>
    <table class="table">
        <tbody>
        <tr>
            <td>Author</td>
            <td>{{ctrl1.bookinfo.author_lastname}} {{ctrl1.bookinfo.author_firstname}}</td>
        </tr>
        </tbody>
    </table>


    <div style="padding: 30px">

        <h2>Edit Book Record</h2>

        <form name="updateForm" novalidate ng-submit="ctrl1.edit(ctrl1.bookinfo.id)" autocomplete="off">

            <div class="form-group">

                <label for="title">Title:</label>

                <input type="text" id="title" name="title"
                       class="form-control" ng-model="ctrl1.bookinfo.title" value="{{ctrl1.bookinfo.title}}" required>

            <span class="help-block" ng-show="updateForm.title.$invalid">
                Please enter title.</span>

            </div>

            <div class="form-group">

                <label for="author_lastname">Last name:</label>

                <input type="text" id="author_lastname" name="author_lastname"
                       class="form-control" ng-model="ctrl1.bookinfo.author_lastname"
                       value="{{ctrl1.bookinfo.author_lastname}}" required>

            <span class="help-block" ng-show="updateForm.author_lastname.$invalid">
                Please enter lastname.</span>

            </div>

            <div class="form-group">

                <label for="author_firstname">Last name:</label>

                <input type="text" id="author_firstname" name="author_firstname"
                       class="form-control" ng-model="ctrl1.bookinfo.author_firstname"
                       value="{{ctrl1.bookinfo.author_firstname}}" required>

            <span class="help-block" ng-show="updateForm.author_firstname.$invalid">
                Please enter firstname.</span>

            </div>


            <div class="form-group">

                <button type="submit" class="btn-success form-control"
                        ng-disabled="updateForm.$invalid">
                    Update
                </button>

            </div>

        </form>
    </div>


    <button ng-click="ctrl1.back()">Back</button>

</div>