<br>

<div>

    <label>Search Books:</label>
    <input type="text" ng-model="searchBox">
</div>

<br>
<div>
    <div class=”list-group”>
        <button type="button" class="list-group-item"
                ng-repeat="b in listCtrl.books | filter: searchBox" ng-click="listCtrl.getDetails(b.id)">
            <img src="/thumbnails/{{b.cover_thumbnail}}" alt="img" width="100px" height="125px">
            {{ b.title }} ({{b.author_lastname}} {{b.author_firstname}})
        </button>
    </div>
</div>


